.endGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
  background: rgba(255,255,255,0.5);
}

.endGame p {
  font-family: monospace;
  font-size: 30px;
}

.endGame button {
  font-family: monospace;
}

#map {
  position: absolute;
<<<<<<< HEAD
}

.currentScore {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
}

.currentScore span {
  font-family: monospace;
  color: white;
  font-size: 20px;
  display: block;
}

.highScore {
  right: 0%;
  position: absolute;
  color: white;
  z-index: 1;
=======
>>>>>>> bbd2994bb48a34add092956ae42237b7fb0a3426
}